assets/flows.json
[{"id":"ca0a5c25.2b3cb","type":"fan","z":"4a468345.16e57c","x":510,"y":480,"wires":[["f897f349.5b856","d5aebba0.ff9a88"]]},{"id":"d47f96b8.5d74c8","type":"inject","z":"4a468345.16e57c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":400,"wires":[["ca0a5c25.2b3cb"]]},{"id":"f897f349.5b856","type":"debug","z":"4a468345.16e57c","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":700,"y":420,"wires":[]},{"id":"796df63e.d22948","type":"inject","z":"4a468345.16e57c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":480,"wires":[["ca0a5c25.2b3cb"]]},{"id":"2d26c675.ddba72","type":"inject","z":"4a468345.16e57c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":560,"wires":[["ca0a5c25.2b3cb"]]},{"id":"d5aebba0.ff9a88","type":"mqtt out","z":"4a468345.16e57c","name":"","topic":"","qos":"","retain":"","broker":"f35a4adf.3b3118","x":670,"y":500,"wires":[]},{"id":"fea70eeb.2bbf38","type":"inject","z":"4a468345.16e57c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":660,"wires":[["98e9e834.b3664","fd03a5bd.6f02c8"]]},{"id":"4864944a.3c5c54","type":"inject","z":"4a468345.16e57c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":740,"wires":[["98e9e834.b3664","fd03a5bd.6f02c8"]]},{"id":"d7de38cb.fc3de8","type":"inject","z":"4a468345.16e57c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":820,"wires":[["98e9e834.b3664","fd03a5bd.6f02c8"]]},{"id":"98e9e834.b3664","type":"mqtt out","z":"4a468345.16e57c","name":"","topic":"","qos":"","retain":"","broker":"f35a4adf.3b3118","x":670,"y":760,"wires":[]},{"id":"fd03a5bd.6f02c8","type":"debug","z":"4a468345.16e57c","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":700,"y":680,"wires":[]},{"id":"f35a4adf.3b3118","type":"mqtt-broker","z":"","name":"","broker":"openhabian.fritz.box","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]